html, body {
  height: 100%;
  width: 100%;
  background: #e9e9e9;
}

body {
  margin: 0;
  /* text-align: center; */
}

.grid {
  width: 750px;
  height: 500px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 100px;
  background-image: url('../images/grid.png');
  position: relative;
}

.grid::before {
  content: "";
  border-left: 1px solid #7c7cea;
  position: absolute;
  top: 0;
  left: 100px;
  width: 750px;
  height: 600px;
}

.grid::after {
  content: "";
  border-top: 1px solid #7c7cea;
  position: absolute;
  top: 100px;
  left: 0;
  width: 850px;
  height: 500px;
}

svg {
  position: relative;
  z-index: 1;
  /* stroke: #000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none; */
}

.menuIconBackground {
  stroke: #FFE8E4;
  fill: #FFE8E4;
}
.menuIconBody {
  stroke: #FFA191;
}
